lib/libxml2/test/schemas/issue491_0.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.test.com" targetNamespace="http://www.test.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="BaseType">
    <xs:simpleContent>
      <xs:extension base="xs:int" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ChildType">
    <xs:complexContent>
      <xs:extension base="BaseType">
        <xs:sequence>
          <xs:element name="bad" type="xs:int" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Child" type="ChildType" />
</xs:schema>
